<footer class="footer">
  <smail>
    The <a href="https://railstutorial.jp/">YUUKIのポートフォリオ</a>
    by <a href="https://twitter.com/bitcoinjpnnet">YUUKI</a>
  </smail>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="https://webnewage.com/">YUUKIのブログ</a></li>
    </ul>
  </nav>
</footer>